<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/admin-layout :: layout(~{::section})">

<section>
    <h1>Crear Alumno</h1>
    <form th:action="@{/admin/alumnos/guardar}" th:object="${alumno}" method="post">
        <label>Nombre</label>
        <input type="text" th:field="*{nombre}" required>
        <br><br>
        <label>Email</label>
        <input type="email" th:field="*{email}" required>
        <br><br>
        <button type="submit">Crear</button>
    </form>
</section>
</html>