<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Login - Oak Tree</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body class="login-body">

<div class="login-container">

    <img th:src="@{/images/logo.png}" class="login-logo" alt="Oak Tree Logo">

    <div class="login-card">

        <h2>Bienvenido</h2>

        <form th:action="@{/login}" method="post">

            <input type="text" name="username" placeholder="Email" required>

            <input type="password" name="password" placeholder="Contraseña" required>

            <button type="submit">Ingresar</button>

            <div th:if="${param.error}" class="error">
                Usuario o contraseña incorrectos
            </div>

        </form>

    </div>

</div>

</body>
</html>
